body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    margin-right: 64px;
}

a {
    color: #485466;
}

.header {
    padding: 25px 0px;
    justify-content: space-between;
}

.btn-log {
    margin-right: 16px;
    border: 0px;
    background-color: white;
    color: #4E92F9;
    font-size: 16px;
}

.btn-sign {
    border-radius: 8px;
    border: 0px;
    box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
    background: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}